Module_List.md
*.swp
slurmSub.sh
/.snakemake/
/__pycache__/
BigWig/
Peaks/
Bam/
Bed/
Fastq/
Logs/
PCRdups/
Sam/
logs/
multiqc_data/
multiqc_report.html
sampleInfo.tsv
sampleSheet.tsv
sampleSheetPooled.tsv
slurmOut/
